<form action="/user/create" method="POST" id="sign-up-form" class="form-signin">
  <h2 class="form-signin-heading">Create an account</h2>

  <% if(flash && flash.err) { %>
    <ul class="alert alert-success">
      <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%- JSON.stringify(flash.err[error]) %></li>
      <% }) %>
    </ul>
  <% } %>

  <div class="control-group">
    <input type="text" class="form-control" placeholder="first name" name="firstName">
    <input type="text" class="form-control" placeholder="last name" name="lastName">
  </div>
  <input type="text" class="form-control" placeholder="user name" name="userName">
  <input type="text" class="form-control" placeholder="your email address" name="email">

  <input type="text" class="form-control" placeholder="address" name="address">
  <input type="text" class="form-control" placeholder="city" name="city">
  <input type="text" class="form-control" placeholder="state" name="state">
  <input type="text" class="form-control" placeholder="zip" name="zip">
  <input type="text" class="form-control" placeholder="country" name="country">

  <input type="text" class="form-control" placeholder="phone number: xxx-xxx-xxxx" name="phoneNumber">

  <input type="password" class="form-control" placeholder="password" name="password" id="password">
  <input type="password" class="form-control" placeholder="password confirmation" name="confirmation">
  <br/>

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account" />
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
