<div class="container">
  <div class="jumbotron">
    <h1>BareMarket</h1>
    <h2>...Where you create the market</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
  </div>
</div>
